<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <!--
  
<body class="bg-light d-flex justify-content-center min-vh-100">
-->

  <body
    class="bg-light d-flex align-items-start justify-content-center min-vh-100">

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <div class="card shadow-lg p-4 bg-white">
            <div class="card-body text-center">
              <h1 class="card-title text-primary mb-4 fw-bold">Menu
                Principal</h1>
              <p class="card-text text-secondary mb-4">Seu endereço de IP:
                <strong><%= clientIp %></strong></p>

              <div class="list-group list-group-flush">
                <a href="/coordenadas/cadastrar"
                  class="list-group-item list-group-item-action py-3">
                  <span class="fs-5">Cadastrar Coordenada</span>
                </a>
                <a href="/coordenadas/mapaclick"
                  class="list-group-item list-group-item-action py-3">
                  <span class="fs-5">Cadastrar Coordenada (Obter coordenadas via
                    click)</span>
                </a>
                <a href="/coordenadas/listar"
                  class="list-group-item list-group-item-action py-3">
                  <span class="fs-5">Listar Coordenadas</span>
                </a>
                <a href="/coordenadas/mapa"
                  class="list-group-item list-group-item-action py-3">
                  <span class="fs-5">Visualizar Mapa</span>
                </a>

                <form action="/coordenadas/excluir-todas" method="POST"
                  onsubmit="return confirm('Tem certeza que deseja excluir TODAS as coordenadas?');"
                  style="margin:0;">
                  <button type="submit"
                    class="list-group-item list-group-item-action py-3">
                    <span class="fs-5">Excluir Todas as Coordenadas</span>

                  </button>
                  <a href="https://github.com/josimaribeiro/leafletnodemongo"
                    class="list-group-item list-group-item-action py-3" target="_blank">
                    <span class="fs-5">GitHub</span>
                  </a>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>